body{
  margin:0;
  font-family: Arial;
  background: radial-gradient(circle at top,#0b1d39,#050914);
  color:white;
  overflow:hidden;
}

/* screens */
.screen{
  display:none;
  height:100vh;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  text-align:center;
}

.active{
  display:flex;
}

/* button */
button{
  padding:12px 25px;
  border:none;
  border-radius:30px;
  background:#7cc7ff;
  color:#0b1d39;
  margin-top:15px;
  cursor:pointer;
}

/* input */
input{
  padding:10px;
  border-radius:20px;
  border:none;
  text-align:center;
}

/* fade text */
.fade{
  opacity:0;
  animation:fadeIn 2s forwards;
}

.delay1{animation-delay:1.5s;}
.delay2{animation-delay:3s;}

@keyframes fadeIn{
  to{opacity:1;}
}

/* cake */
.cake{
  width:120px;
  height:80px;
  background:#c8a27a;
  border-radius:10px;
  position:relative;
}

.candle{
  width:8px;
  height:30px;
  background:white;
  position:absolute;
  top:-30px;
  left:50%;
  transform:translateX(-50%);
}

.flame{
  width:12px;
  height:12px;
  background:orange;
  border-radius:50%;
  position:absolute;
  top:-45px;
  left:50%;
  transform:translateX(-50%);
  animation:blink 0.5s infinite;
}

@keyframes blink{
  0%{opacity:1;}
  50%{opacity:0.3;}
  100%{opacity:1;}
}

/* stars */
.star{
  position:absolute;
  width:3px;
  height:3px;
  background:white;
  border-radius:50%;
}

/* fireworks */
.firework{
  position:absolute;
  width:6px;
  height:6px;
  border-radius:50%;
  animation:explode 1s ease-out forwards;
}

@keyframes explode{
  from{transform:scale(1); opacity:1;}
  to{transform:scale(20); opacity:0;}
}